{% extends 'base.html' %}
{% block body %}
    <nav class="nav flex-column">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Lamps</a>
          </li>
        </ul>
    </nav>
{% for lamp in lamps %}
    {% if lamp[2] == 'on' %}
    <a href="/off/{{ lamp[0] }}"><button type="button" class="btn btn-light">{{ lamp[1] }}</button></a>
    {% else %}
    <a href="/on/{{ lamp[0] }}"><button type="button" class="btn btn-dark">{{ lamp[1] }}</button></a>
    {% endif %}
{% endfor %}
    <hr>
    <nav class="nav flex-column">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Groups</a>
          </li>
        </ul>
    </nav>
    {% for group in groups %}
        {% if group[2] %}
        <a href="/group/{{ group[0] }}"><button type="button" class="btn btn-light">{{ group[1] }}</button></a>
        {%  elif group[3] %}
        <a href="/group/{{ group[0] }}"><button type="button" class="btn btn-secondary">{{ group[1] }}</button></a>
        {% else %}
        <a href="/group/{{ group[0] }}"><button type="button" class="btn btn-dark">{{ group[1] }}</button></a>
        {% endif %}
    {% endfor %}
{% endblock %}
